<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/header') %>
    </head>
    <body>
        <h1>Todo app</h1>

        <form action="/addtodo" method="post">
            <p>Add a todo!</p>
            <p>Enter todo:</p>
            <input autocomplete="off" type="text" name="todo" required />
            <button type="submit">Add todo!</button>
        </form>

        <% if (error !== '') { %>
        <p><%= error %></p>
        <% } %>

        <p>A list of your todos:</p>
        <% if (todos !== []) { %>

        <table style="width: 100%">
            <tr>
                <th>Content</th>
                <th>Remove</th>
            </tr>
            <% todos.forEach((todo) => { %>

            <tr>
                <form action="/removetodo" method="post">
                    <input type="hidden" name="id" value=<%=todo.id %> />
                    <td><%= todo.title %></td>
                    <td><button type="submit">Delete</button></td>
                </form>
            </tr>
            <% }) %>
        </table>

        <% } else { %>
        <p>You have no todos! How about make some above?</p>
        <% } %>
        <footer><%- include('../partials/footer') %></footer>
    </body>
</html>
